<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong><br/>
  username: <%=@user.username%><br/>
  email: <%=@user.email%>
  
  <% if @upcoming_events.size.positive? %>
    <h3><%=@user.username%> will attend the following events</h3> 
      <%= render partial: "table", locals:{ events: @upcoming_events} %>
      
  <% end %>
  <% if @past_events.size.positive? %>
    <h3><%=@user.username%> attended the following events</h3> 
    <%= render partial: "table", locals:{ events: @past_events} %>        
  <% end %>
</p>
<p>
<h3><%=@user.username%> created the following events</h3>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>date</th>
        <th>location</th>
      </tr>
    </thead>
    <tbody>
      <%@user.events.each do |event|%>
        <tr>
          <td><%=event.id%></td>
          <td><%=event.event_name%></td>
          <td><%=event.event_date%></td>
          <td><%=event.event_location%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>