<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong><br/>
  username: <%=@user.username%><br/>
  email: <%=@user.email%>

  <h3><%=@user.username%>'s events are the following</h3>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>date</th>
        <th>location</th>
      </tr>
    </thead>
    <tbody>
      <%@user.events.each do |event|%>
        <tr>
          <td><%=event.id%></td>
          <td><%=event.event_name%></td>
          <td><%=event.event_date%></td>
          <td><%=event.event_location%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>