
<div>
  <table>
    <tbody>
        <tr>
          <td>Location:</td>
          <td><%= @event.event_location %></td>
        </tr>
        <tr>
          <td>Event date:</td>
          <td><%= @event.event_date %></td>
        </tr>
        <tr>
          <td>Event creator:</td>
          <td><%= @event.event_creator.username %></td>
        </tr>
    </tbody>
  </table>
</div>

<%#= render partial: "event_attendees.html.erb", locals: {event:@event} %>
<%=display_avent_attendees(@event,"events/event_attendees")%>

<div class="event-title">
<%= link_to 'Edit', edit_event_path(@event), class: "button-info" %> |
<%= link_to 'Back', events_path, class: "button-info" %>
</div>
