<%= form_with(model: invitation, local: true) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="form-inputs">
    <%= form.label :event_attendee_id, "Event Attendee Id"%>
    <%= form.number_field :event_attendee_id,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "event_attendee_id" }%><br/><br/>
    <%= form.label :attended_event_id, "Id of envent to attend"%>
    <%= form.number_field :attended_event_id,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "attended_event_id" }%><br/><br/>
  <div class="actions">
    <%= form.submit %>
  </div>
  </div>

  <% end %>
<% end %>
